.pdf-container {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.pdf-container.show {
  opacity: 1;
  transform: translateY(0);
}
/* .icon {
  position: fixed;
  height: 100%;
  width: 100%;
  top: -35%;
  left: +45%;
  z-index: 631;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
} */
