.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  z-index: 1200;
  background: #2d3d54;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  overflow-y: auto;
}


.sidebar.closed {
  transform: translateX(-100%);
  opacity: 0;
}

.sidebar.open {
  transform: translateX(0);
  opacity: 1;
}


@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px; 
  z-index: 1100;
  background: #fff;
}
.main-content {
  margin-top: 56px; 
  padding: 1rem;
  overflow-y: auto;
  /* height: calc(100vh - 56px); */
}


@media (min-width: 768px) {
  .main-content {
    margin-left: 250px; 
  }
  .navbar{
    left: 250px;
  }
}
